* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(37, 34, 34, 0.719);
}

#background {
    background-color: black;
    margin: auto;
    width: 730px;
    height: 1200px;
}

#seven {
    color: beige;
    font-size: 1000px;
    margin-top: -10%;
    margin-left: -4%;
    position: sticky;
}

#seconds {
    color: beige;
    font-size: 110px;
    margin-top: -200.5%;
    margin-left: 35%;
    position: sticky;
}

.blurbs {
    color: skyblue;
    font-family: 'Poppins', sans-serif;
    position: sticky;
}

#left-blurb {
    font-size: 22px;
    margin-top: -10%;
    margin-left: 15%;
    font-weight: bold;
    line-height: 25px;
}

#right-blurb {
    font-size: 12px;
    margin-top: -10%;
    margin-left: 62%;
    font-weight: lighter;
}