* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(37, 34, 34, 0.719);
}

#background {
    background-color: black;
    margin: auto;
    padding-top: 10%;
    width: 730px;
    height: 1000px;
}

#seven {
    color: beige;
    font-size: 900px;
    margin-top: -30%;
    margin-left: -3.5%;
    padding: 0px;
    height: 1px;
}

#seconds {
    color: beige;
    font-size: 100px;
    margin-top: -33%;
    margin-left: 33%;
    padding: 0px;
    height: 1px;
}

.blurbs {
    color: skyblue;
    font-family: 'Poppins', sans-serif;
}

#left-blurb {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 20%;
    margin-left: 13%;
    padding: 0px;
}

#right-blurb {
    font-size: 12px;
    font-weight: lighter;
    margin-left: 58%;
    margin-top: -11%;
    padding: 0px;
}